.product-container{
    display: grid;
    grid-template-columns: repeat(4,25%);
    gap:1.5rem;
    margin: 4rem;
    border: 1px soid rgb(68, 67, 67);
}
.product-flex-div{
    display: flex;
    height: 16rem;
    width: 18rem;
 
}
.product-img{
    height: 10rem;
    width: 10rem;
}
.product-style-font{
    display: flex;
    /* flex-direction:; */
}