.detail-pro-grid{
    display: grid;
    grid-template-columns: repeat(3,30%);
    gap:4rem;
    margin: 5rem;
}
.img-flex{
    display: flex;
    gap:1.5rem;
}
.product-img-div{
    display: flex;
}
.go-back-div{
    display: flex;
    justify-content: space-between;
    gap:1rem;
}
.img-pro{
    height: 20rem;
    width: 20rem;
}
.hr-line{
    width: 330px;
    color:#e4dbdb;
}
.h1-pro-head{
font-family:Euclid;
color: RGB(85, 89, 92);
font-size: 2rem;

}
.pro-details-p-tag{
    font-family:Euclid;
    color: RGB(85, 89, 92);
    font-size:1rem;
}
.rating-p-tag{
    font-family:Euclid;
    color: RGB(85, 89, 92);
}
.detail-div{
    /* margin: 2rem; */
}
.cart-status-div{
border: 1px solid #e4dbdb;
height: 16rem;
display: grid;
grid-template-rows: repeat(15rem,5%);
/* margin-top: 5rem; */
}
.status-p-tag{
    display: flex;
    justify-content: space-between;
    padding: .3rem;
   margin:1rem;
}
.cart-count-div{
      
       border-top:1px solid #e4dbdb;
       display: flex;
       flex-direction: row;
       justify-content: space-between;
       padding: 2rem;
}
.cart-qty-slect-tag{
    display: flex;
    width: 6rem;
}
.cart-add-btn-div{
    border-top: 1px solid #e4dbdb;
    padding: .6rem;
display: flex;
align-items: center;
    justify-content: center;
}
.cart-add-btn{
    display: flex;
    /* align-items: center;
    justify-content: center; */
    background-color:#191c1f;
    color: aliceblue;
    padding: .9rem;
    text-align: center;
    border: none;
    border-radius: 3px;
    text-decoration: none;
}