.product-container{
    display: grid;
    grid-template-columns: repeat(4,24%);
    gap:1.5rem;
    margin: 4rem;
    
}
.product-img{
    height:12rem;
    width: 12rem
}
.product-flex-div{
    display: flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items: flex-start;
    gap:1rem;
    border: 1px solid rgb(183, 181, 181);
    padding:.3rem;
    border-radius: .2rem;
}
.product-name-head{
    text-decoration: none;
    font-family:"Segoe UI Symbol";   
    color: rgb(30, 30, 30);
    letter-spacing: 2px;
    /* font-family: Euclid; */
}
.product-name-head:hover{
color: rgb(90, 89, 89);
text-decoration: underline;
}
.product-name-head-label{
    text-decoration: none;  
    color: rgb(30, 30, 30);
    letter-spacing: 2px;
    font-family: Euclid;
}